.correct-pick {
  background: var(--clr-green);
  color: var(--clr-white-text);
  border: 2px solid var(--clr-green);
}

.wrong-pick {
  background: var(--clr-red);
  color: var(--clr-white-text);
  border: 2px solid var(--clr-red);
}

.answer__letter {
  text-transform: uppercase;
}
