.App {
  margin-top: 5em;
}

.title {
  color: var(--clr-white-text);
  text-transform: uppercase;
}

.card {
  margin-top: 0.75em;
  background: var(--clr-white);

  padding: 3.25em 1.5em;

  border-radius: 0.5em;

  min-height: 500px;
}

.card--transparent {
  background: transparent;
}

.start-btn-area {
  margin-top: 2em;

  display: flex;
  place-content: center;
}

.btn-area {
  margin-top: 1.5em;
  display: flex;
  justify-content: flex-end;
}
