@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,400&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ==================================== */
/* Custom properties and general styles */
/* ==================================== */

:root {
  --ff-main: 'Poppins', sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-30: 1.875em;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;
  --fs-100: 6.25em;

  /* Text */
  --clr-very-dark-blue-text: hsla(218, 52%, 24%, 1);
  --clr-dark-blue-text: hsla(212, 45%, 33%, 1);
  --clr-medium-blue-text: hsla(237, 54%, 60%, 0.8);
  --clr-white-text: hsla(0, 0%, 95%, 1);

  /* Backgrounds */
  --clr-hover-yellow: hsla(37, 95%, 56%, 1);
  --clr-red: hsla(0, 71%, 71%, 1);
  --clr-green: hsla(145, 43%, 56%, 1);
  --clr-white: hsl(0, 0%, 100%);
}

body {
  background-image: url('./assets/background.png');
  background-repeat: repeat;
  background-position: center;
  background-size: cover;

  color: var(--clr-dark-blue-text);
  font-family: var(--ff-main);
  font-size: var(--fs-16);
  font-weight: var(--fw-medium);
  line-height: 1.2;
  text-align: left;

  height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

/* ================== */
/* Typography */
/* ================== */

.title {
  font-size: var(--fs-32);
  font-weight: var(--fw-bold);
}

.question-text {
  font-size: var(--fs-20);
  font-weight: var(--fw-bold);
}

.answer-text {
}

/* ================== */
/* Buttons & inputs */
/* ================== */

.btn {
  font-family: inherit;
  border-radius: 0.5em;
  cursor: pointer;
}

.btn--start {
  padding: 0.5em 1.5em;
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-18);
  color: var(--clr-very-dark-blue-text);
  border: 2px solid var(--clr-very-dark-blue-text);
}

.btn--start:hover,
.btn--start:focus {
  opacity: 0.6;
}

.btn--answer {
  color: var(--clr-medium-blue-text);
  border: 2px solid var(--clr-medium-blue-text);
  background: var(--clr-white);
  padding: 0.5em 1em;
  width: 100%;
  height: 44px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* "Enabled" makes it so this is only operative if the button isn't disabled */
.btn--answer:hover:enabled,
.btn--answer:focus:enabled {
  color: var(--clr-white-text);
  background: var(--clr-hover-yellow);
  border: 2px solid var(--clr-hover-yellow);
}

.btn--answer:active:enabled {
  color: var(--clr-medium-blue-text);
  border: 2px solid var(--clr-medium-blue-text);
  background: var(--clr-white);
}

.btn--answer[disabled]:hover {
  cursor: not-allowed;
}

.btn--advance {
  color: var(--clr-white-text);
  background: var(--clr-hover-yellow);
  border: 2px solid var(--clr-hover-yellow);
  padding: 0.5em 1em;
}

.btn--advance:hover,
.btn--advance:focus {
  opacity: 0.6;
}

/* ================== */
/* Utility styles */
/* ================== */
.container {
  margin: 0 1.5em;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */
